# Problem Statement:

- The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?

- Print count of number of attacks in that city as integer value.

# Note:

- Ignoring the Unknown Terrorist Group. Here Dangerous related with the number of terrorist attacks.

- Output Format:

  City: NumberOfAttack Group

In [1]:
import pandas as pd
terror = pd.read_csv("datasets/terrorismData.csv")
df = terror.copy()
atck_no_dict = {}
terr_group_dict = {}
lst = df[(df.State == "Jammu and Kashmir") & (df.Group != "Unknown")]
for var in lst.City:
    if var in atck_no_dict:
        atck_no_dict[var] += 1
    else:
        atck_no_dict[var] = 1
most_danger = max(atck_no_dict, key=atck_no_dict.get)
lst2 = lst[lst.City == most_danger]
for var in lst2.Group:
    if var in terr_group_dict:
        terr_group_dict[var] += 1
    else:
        terr_group_dict[var] = 1
most_active = max(terr_group_dict, key=terr_group_dict.get)
print("City with the most attacks:", most_danger)
print("Total number of attacks :", atck_no_dict[most_danger])
print("Most active terrorist group :",most_active)

City with the most attacks: Srinagar
Total number of attacks : 351
Most active terrorist group : Muslim Separatists

# Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country?

- Print count of terror attacks as integer value.

- Output Format:

  Country | NumberOfAttack | Year

In [2]:
import pandas as pd
ter = pd.read_csv("datasets/terrorismData.csv")
tf = ter.copy()
country = {}
year = {}
for var in tf.Country:
    if var in country :
        country[var] += 1
    else:
        country[var] = 1
max_country = max(country,key = country.get)
tf2 = tf[tf.Country == max_country]
for var in tf2.Year:
    if var in year:
        year[var] += 1
    else:
        year[var] = 1
max_year = max(year, key = year.get)
print("Country with most attack :",max_country)
print("Total No of attacks :",country[max_country])
print("year with most no of attacks :",max_year)

Country with most attack : Iraq
Total No of attacks : 24636
year with most no of attacks : 2014

# Country with most number of kills

In [19]:
import pandas as pd
t_file = pd.read_csv("datasets/terrorismData.csv")
ds1 = t_file.copy()
ds1.Killed.fillna(0)
Kill_data = t_file.groupby('Country')['Killed'].sum()
kill_dict = Kill_data.to_dict()
# print(Kill_data)
max_country = max(kill_dict, key = kill_dict.get)
print(max_country,end=' ')
print(kill_dict[max_country])

Iraq 78589.0

In [21]:
import pandas as pd
t_file = pd.read_csv("datasets/terrorismData.csv")
ds1 = t_file.copy()
ds1.Killed.fillna(0)
ds1.Wounded.fillna(0)
fea = ['Killed', 'Wounded']
Kill_data = ds1.groupby('Country')[fea].sum().reset_index()
Kill_data.head(4)

       Country   Killed  Wounded
0  Afghanistan  39384.0  44277.0
1      Albania     42.0    126.0
2      Algeria  11066.0   9150.0
3      Andorra      0.0      0.0

# Most Deadliest attack in a history of Humankind?

- Print count of Killed people as integer value.

# Note: 
Here Deadliest attack means, in which the most number of people killed.

- Output Format:

  NumberOfPeopleKilled | Country | TerroristGroup

In [20]:
import pandas as pd 
terr = pd.read_csv("datasets/terrorismData.csv")
max_ind = terr.Killed.idxmax()
most_danger = terr.loc[max_ind].to_dict()
print("People Killed :",most_danger["Killed"])
print("Country :",most_danger["Country"])
print("Terrorist Group :",most_danger["Group"])

People Killed : 1570.0
Country : Iraq
Terrorist Group : Islamic State of Iraq and the Levant (ISIL)

# There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-

- Total number of attacks done in this period in India. Find this count as integer.

- Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks.

- Ignore the Unknown group.

- Output Format:

  TotalAttacks	MostActive TerroristGroup

In [18]:
import pandas as pd
ind = pd.read_csv("datasets/terrorismData.csv")
df_ind = ind[(ind.Group != "Unknown") & (ind.Country == "India") & (ind.Day != 0)]
df_ind['date_time'] = pd.to_datetime(df_ind[['Year','Month','Day']])
specific_date = pd.to_datetime('2014-5-26')
df_ind2 = df_ind[df_ind['date_time'] >= specific_date]
count = df_ind2.shape[0]
dict_terr = {}
for var in df_ind2['Group']:
    if var in dict_terr:
        dict_terr[var] += 1
    else:
        dict_terr[var] = 1
max_terr = max(dict_terr,key = dict_terr.get)
print("Total no. of attacks :", count)
print("Most active Group :", max_terr)

Total no. of attacks : 2057
Most active Group : Maoists

C:\Users\rohit\AppData\Local\Temp\ipykernel_17144\1429743915.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['date_time'] = pd.to_datetime(df_ind[['Year','Month','Day']])